/*
 * css styles go here
 */

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a:visited {
  color: #373366;
  text-decoration: none;
}

a:hover {
  color: #156cc2;
  text-decoration: underline;
}

#header {
  padding: 4px;
}

#header .big {
  font-size:   140%;
  font-weight: bold;
}

#header .small {
  font-size:    90%;
  color:        grey;
  padding-left: 15px;
}

#nav {
  padding: 6px;
}

h1 {
  color: #3297e9;
  font-size: 80%;
}

h2 {
  color: #789044;
  font-size: 80%;
}

h3 {
  color: #dab71f;
  font-size: 80%;
}
