/*
 * css styles go here
 */

body {
  color: #373630;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a:visited {
  color: #4183C4;
  text-decoration: none;
}

a:hover {
  color: #156cc2;
  text-decoration: underline;
}

#header {
  padding: 4px;
}

#header .big {
  color: #009acd;
  font-size:   140%;
  font-family: "Arial Black","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}

#header .small {
  color:        grey;
  font-size:    90%;
  padding-left: 15px;
}

#nav {
  padding: 6px;
}

h1 {
  color: #009acd;
  font-size: 120%;
  font-family: "Trebuchet MS", Georgia, "Times New Roman", san-serif;
}

h2 {
  color: olivedrab4;
  font-size: 120%;
}

h3 {
  color: orange3;
  font-size: 120%;
}
